{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Login:</h2>
      <br>
      <form method="POST" action="{% url 'login' %}" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-info" value="Invia">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
        <p><a href="{% url 'password_reset' %}">Password dimenticata?</a></p>
    </div>
  </div>
{% endblock content %}
