{% extends 'base.html' %}

{% block head_title %} {{ block.super }} - Lista utenti {% endblock head_title %}

{% block content %}
  <h2 class="mt-3">Lista utenti:</h2>
  <hr>
  {% for utente in lista_utenti %}
    <!-- Se si tratta del primo elemento del for, inizializzo una nuova riga -->
    {% if forloop.first %} <div class="row"> {% endif %}
    <div class="col-lg-4">
      <div class="card my-1 border border-info">
        <div class="card-body py-0">
          <p class="mb-0">
            <a href="{% url 'user_profile' username=utente.username %}">
              <strong>@{{ utente.username }}</strong>
            </a>
          </p>
          Iscrizione: {{ utente.date_joined|date:"d M Y" }} <br>
          Posts: {{ utente.posts.count }} <br>
          Discussioni: {{ utente.discussioni.count }}
        </div>
      </div>
    </div>

    <!-- Se il counter(contatore) è divisibile per 3, oppure se si tratta dell'ultimo elemento del forloop allora chiudo row -->
    {% if forloop.counter|divisibleby:"3" or forloop.last %} </div> {% endif %}
    <!-- Apriamo una nuova row se il counter è divisibile per 3 e anche se il forloop non è all'ultimo ciclo
        Se il loop arriva all'ultimo ciclo, allora non ci interessa e quindi non inizializziamo piu' nessuna row -->
    {% if forloop.counter|divisibleby:"3" and not forloop.last %} <div class="row"> {% endif %}
  {% endfor %}
{% endblock content %}
